# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
.next/
out/
deploy.zip

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*
